html{
    background-image: url('https://sun9-2.userapi.com/impf/c858036/v858036953/fdcfa/P7Amu2UFrCQ.jpg?size=604x306&quality=96&sign=888bd571982608260c06eb9dd88d3c5d&type=album')
}
body{
    font-size:25px;
}
h1{
    color:white;
}
p{
    color:white;
}
b{
    color:white;
}